.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, #002f6c, rgba(0, 47, 108, 0));
  min-height: 100px;
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    .link {
      color: #ffffff;
      font-size: 1.5rem;
      text-decoration: none;
      gap: 10px;
    }

    .link:hover {
      color: rgba(255, 255, 255, 0.75);
      transition: 0.25s;
    }
  }
}

.logoText {
  padding: 10px;
  color: #ffffff;
}
