.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}
.notfound__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.notfound__description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.notfound__link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #0070f3;
}

.notfound__link:hover {
  text-decoration: underline;
}
