.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  min-height: 100vh;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 8rem 0;

  .sectionContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      max-width: 400px;
      padding: 40px;
      &:first-of-type {
        flex-direction: column-reverse;
      }
    }

    .sectionTextContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .sectionTitle {
        font-size: 3.5rem;
        color: #002f6c;
      }

      .sectionText {
        font-size: 1.5rem;
        color: #002f6c;
      }

      .link {
        font-size: 1.5rem;
        text-decoration: none;
        background-color: #002f6c;
        color: #ffffff;
        padding: 10px 20px;
        border-radius: 5px;
        transition: 0.25s;
        width: fit-content;

        &:hover {
          background-color: #002f6c9f;
        }
      }
    }
  }
}
