.rules {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1000px;
  margin: 0 auto;

  .rulesContent {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .rulesTitle {
      font-size: 4rem;
      font-weight: bold;
      text-align: center;
    }

    .rulesList {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .rulesListItem {
        display: flex;
        flex-direction: row;
        gap: 32px;

        .rulesListItemImage {
          object-fit: cover;
          border-radius: 1rem;
        }

        .rulesListItemText {
          display: flex;
          flex-direction: column;
          gap: 16px;

          .rulesListItemTitle {
            font-size: 2rem;
            font-weight: bold;
          }

          .rulesListItemDescription {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .rules {
    .rulesContent {
      .rulesList {
        .rulesListItem {
          flex-direction: column;
          padding: 15px;
          .rulesListItemImage {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
